<h1 mat-dialog-title>Endereço</h1>
<div mat-dialog-content>
  <p><strong>id</strong> = {{ endereco_data.id }}</p>
  <p><strong>Endereço</strong> = {{ endereco_data.endereco }}</p>
  <p><strong>Bairro</strong> = {{ endereco_data.bairro }}</p>
  <p><strong>Tipo</strong> = {{ endereco_data.tipo }}</p>
  <p><strong>UF</strong> = {{ endereco_data.uf }}</p>
  <p><strong>Cidade</strong> = {{ endereco_data.cidade }}</p>
  <p><strong>CEP</strong> = {{ endereco_data.cep }}</p>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Close</button>
</div>
